.about-container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 2rem;
  background: #2a2a2a;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: white;
}

.about-header {
  color: #fb6a31;
  font-size: 2rem;
  margin-bottom: 1.5rem;
  text-align: center;
  border-bottom: 1px solid #034da4;
  padding-bottom: 1rem;
}

.credits-container {
  text-align: center;
  position: relative;
  height: 80vh;
  overflow: hidden;
}

.credits-header {
  margin: 1rem 0;
}

.credits-scroll {
  position: relative;
  height: calc(100% - 4rem);
  overflow: hidden;
}

.credits-content {
  position: absolute;
  width: 100%;
  text-align: center;
}

.credits-title {
  font-size: 1.5rem;
  margin: 2rem 0;

  display: inline-block; /* Ensures gradient only applies to text width */
  background: linear-gradient(90deg, #034da4, #fb6a31);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap; /* Prevents text from wrapping and stretching gradient */
}

.credits-role {
  margin: 0.5rem 0;
  font-size: 1.1rem;
  opacity: 0.9;
  color: #034da4
}

.credits-name {
  color: #fb6a36;;
  font-weight: 600;
}

@media (max-width: 768px) {
  .about-container {
    margin: 1rem;
    padding: 1rem;
  }

  .about-header {
    font-size: 1.75rem;
  }
} 