@import "./Auth.css";

.form-input-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.signup-agreements {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  color: white;
  font-size: 0.8rem;
}

.signup-agreement-link {
  color: #034da4;
  text-decoration: none;
  font-size: 0.8rem;
  margin: 0 0.25rem;
}

.signup-agreement-checkbox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: white;
  font-size: 0.8rem;
}

.signup-agreement-checkbox input[type="checkbox"] {
  width: 14px;
  height: 14px;
}

.google-button {
  cursor: pointer;
}
